.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50vw;
    height: 40vh;
}

.menuCard {
    width: 50%;
    height: 100%;
    margin: 5px;
    padding: 10px;
}

.singleplayerCard {
    display: flex;
    align-items: center;
}

.multiplayerCard {
    display: flex;
    flex-direction: column;
}

.multiplayerSection {
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.multiplayerSection * {
    margin: 0.3vh;
}

.gameButton {
    width: 70%;
    height: 20%;
}

.codeInput {
    height: 20%;
    text-align: center;
}

.loadingContainer {
    width: 25%;
    margin-right: 5%;
    display: flex;
    flex-wrap: wrap;
}

.pokeballContainer {
    width: 15%;
    margin-right: 5%;
}
