.scorePanel {
    height: 100vh;
    border-left: 1px solid black;
}

.pointsContainer {
    width: 100%;
    text-align: center;
    font-size: 4em;
    border-bottom: 1px solid black;
}

.pokemonList {
    text-align: center;
}

.pokemonListItem {
    margin-top: 1.5%;
    font-size: 1.6em;
    font-weight: bold;
}

.blur {
    opacity: 0.5;
    position: fixed;
    background-color: grey;
    height: 100%;
    width: 100%;
    z-index: -1;
}